.hi-from-aritra {
  position: relative;
  line-height: 74px;
}
.student-visual-artist3 {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-align: left;
}
.header1-3 {
  width: 332px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.vector-icon4 {
  position: relative;
  width: 16.71px;
  height: 16px;
  cursor: pointer;
}
.portraiture4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.art4,
.portraiture4 {
  position: relative;
  cursor: pointer;
}
.profile-picture-icon4 {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
  cursor: pointer;
}
.navigation-menu4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.profile-picture-icon5 {
  border-radius: 98px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.welcome-to-my1 {
  align-self: stretch;
  position: relative;
  line-height: 46px;
}
.about-me {
  margin: 0;
}
.about-me-as-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 32px;
}
.title3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.search-container6 {
  width: 100%;
  padding: var(--padding-11xl) var(--padding-121xl);
  box-sizing: border-box;
  justify-content: flex-start;
}
.back-section3,
.search-container6,
.search-section5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-section5 {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-17xl);
}
.back-section3 {
  width: 530px;
  height: 165px;
  justify-content: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
}
.aritra-mitra5 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 39.5px;
  flex-shrink: 0;
}
.facebook-icon4 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.facebook-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.aritramitra49gmailcom14 {
  text-decoration: underline;
}
.aritramitra49gmailcom13 {
  color: inherit;
}
.yelahanka-bengaluru-karnatak-container4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 32px;
  color: inherit;
  display: inline-block;
  height: 106px;
  flex-shrink: 0;
}
.footer4 {
  align-self: stretch;
  height: 226px;
  padding: 0 var(--padding-65xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.aboutme,
.footer-section4,
.footer4,
.page-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-section4 {
  width: 705px;
}
.aboutme,
.page-3 {
  padding: var(--padding-3xs) 0;
}
.page-3 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.aboutme {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-39xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.aboutme:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .header1-3,
  .navigation-menu4 {
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: center;
  }
  .navigation-menu4 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .footer4 {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .header1-3 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .header1-3,
  .navigation-menu4 {
    display: flex;
  }
  .search-container6 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .footer4 {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navigation-menu4 {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .aritra-mitra5,
  .welcome-to-my1 {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .aritra-mitra5 {
    font-size: var(--font-size-5xl);
  }
  .footer4 {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .aboutme {
    width: 100%;
  }
  .aboutme:hover {
    background-color: var(--color-orange);
  }
}
