body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-sf-pro-display: "SF Pro Display";

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-23xl: 42px;
  --font-size-11xl: 30px;
  --font-size-39xl: 58px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-orange: #f99a0e;
  --color-darkslategray-100: #424242;
  --color-darkslategray-200: #333;
  --color-whitesmoke: #f7f7f7;
  --color-black: #000;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xl: 20px;
  --gap-0: 0px;
  --gap-9xs: 4px;
  --gap-11xl: 30px;
  --gap-xs: 12px;
  --gap-31xl: 50px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-65xl: 84px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-11xl: 30px;
  --padding-121xl: 140px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-31xl: 50px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-19xl: 38px;
}
