.photography-by-aritra {
  position: relative;
  line-height: 74px;
}
.student-visual-artist2 {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-align: left;
}
.header1-2 {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
}
.vector-icon3 {
  position: relative;
  width: 16.71px;
  height: 16px;
  cursor: pointer;
}
.portraiture3 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.art3,
.photography4,
.portraiture3 {
  position: relative;
  cursor: pointer;
}
.photography4 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.profile-picture-icon3 {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
  cursor: pointer;
}
.navigation-menu3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.embark-on-a,
.natures-frame-exploring {
  align-self: stretch;
  position: relative;
  line-height: 46px;
}
.natures-frame-exploring {
  font-size: var(--font-size-5xl);
  line-height: 32px;
}
.search-container4,
.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title2 {
  align-self: stretch;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-xl);
}
.search-container4 {
  width: 100%;
  padding: var(--padding-11xl) var(--padding-121xl);
  box-sizing: border-box;
}
.port2-4-icon {
  position: relative;
  width: 1067px;
  height: 1200px;
  object-fit: cover;
}
.col-14,
.portform-12 {
  display: flex;
  justify-content: center;
}
.col-14 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-31xl);
  width: 25%;
}
.portform-12 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-xl);
  align-items: flex-start;
}
.cardsection-2,
.search-section4 {
  align-self: stretch;
  justify-content: flex-start;
}
.cardsection-2 {
  background-color: var(--color-whitesmoke);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-section4 {
  gap: var(--gap-3xs);
}
.back-section2,
.search-section3,
.search-section4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-section3 {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-17xl);
}
.back-section2 {
  width: 530px;
  height: 165px;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
}
.aritra-mitra4 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 39.5px;
  flex-shrink: 0;
}
.facebook-icon3 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.yelahanka-bengaluru-karnatak3 {
  margin: 0;
}
.aritramitra49gmailcom11 {
  text-decoration: underline;
}
.aritramitra49gmailcom10 {
  color: inherit;
}
.yelahanka-bengaluru-karnatak-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 32px;
  color: inherit;
  display: inline-block;
  height: 106px;
  flex-shrink: 0;
}
.footer3 {
  align-self: stretch;
  height: 226px;
  padding: 0 var(--padding-65xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.footer-section3,
.footer3,
.page-2,
.photography3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-section3 {
  width: 705px;
}
.page-2,
.photography3 {
  padding: var(--padding-3xs) 0;
}
.page-2 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.photography3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-39xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.photography3:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .header1-2,
  .navigation-menu3 {
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: center;
  }
  .navigation-menu3 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .footer3 {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .header1-2 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .header1-2,
  .navigation-menu3 {
    display: flex;
  }
  .search-container4 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .port2-4-icon {
    width: 95%;
    height: auto;
  }
  .col-14 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .portform-12 {
    flex-direction: column;
  }
  .cardsection-2,
  .portform-12 {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
  .footer3 {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navigation-menu3 {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .embark-on-a {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .col-14 {
    width: 100%;
  }
  .portform-12 {
    margin-top: 20px;
  }
  .aritra-mitra4 {
    font-size: var(--font-size-5xl);
    line-height: 48px;
  }
  .footer3 {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .photography3 {
    width: 100%;
  }
  .photography3:hover {
    background-color: var(--color-orange);
  }
}
