.portraiture-by-aritra {
  position: relative;
  line-height: 74px;
  cursor: pointer;
}
.student-visual-artist6 {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-align: left;
}
.header1-6 {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-xl);
  align-items: center;
  justify-content: center;
}
.vector-icon7 {
  position: relative;
  width: 16.71px;
  height: 16px;
  cursor: pointer;
}
.portraiture8 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.art8,
.photography8,
.portraiture8 {
  position: relative;
  cursor: pointer;
}
.photography8 {
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.profile-picture-icon8 {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
  cursor: pointer;
}
.navigation-menu7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.step-into-the1,
.through-portraiture-i {
  align-self: stretch;
  position: relative;
  line-height: 46px;
}
.through-portraiture-i {
  font-size: var(--font-size-5xl);
  line-height: 32px;
}
.search-container11,
.title6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title6 {
  align-self: stretch;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-xl);
}
.search-container11 {
  width: 100%;
  padding: var(--padding-11xl) var(--padding-121xl);
  box-sizing: border-box;
}
.port2-2-icon5,
.port2-3-icon4 {
  position: relative;
  width: 1067px;
  height: 1200px;
  object-fit: cover;
}
.col-17,
.portform-15 {
  display: flex;
  justify-content: center;
}
.col-17 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-31xl);
  width: 25%;
}
.portform-15 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-31xl) var(--padding-xl);
  align-items: flex-start;
}
.cardsection-5 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  justify-content: flex-start;
}
.back-section6,
.cardsection-5,
.search-section10 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-section10 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-17xl);
}
.back-section6 {
  width: 530px;
  height: 165px;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
}
.aritra-mitra8 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 39.5px;
  flex-shrink: 0;
}
.facebook-icon7 {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.facebook-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.yelahanka-bengaluru-karnatak7 {
  margin: 0;
}
.aritramitra49gmailcom23 {
  text-decoration: underline;
}
.aritramitra49gmailcom22 {
  color: inherit;
}
.yelahanka-bengaluru-karnatak-container7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 32px;
  color: inherit;
  display: inline-block;
  height: 106px;
  flex-shrink: 0;
}
.footer7 {
  align-self: stretch;
  height: 226px;
  padding: 0 var(--padding-65xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.footer-section7,
.footer7,
.page-6,
.portraiture7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-section7 {
  width: 705px;
}
.page-6,
.portraiture7 {
  padding: var(--padding-3xs) 0;
}
.page-6 {
  align-self: stretch;
  gap: var(--gap-3xs);
}
.portraiture7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-39xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.portraiture7:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .header1-6,
  .navigation-menu7 {
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: center;
  }
  .navigation-menu7 {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .footer7 {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .header1-6 {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .header1-6,
  .navigation-menu7 {
    display: flex;
  }
  .search-container11 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .port2-2-icon5,
  .port2-3-icon4 {
    width: 95%;
    height: auto;
  }
  .col-17 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .portform-15 {
    flex-direction: column;
  }
  .cardsection-5,
  .portform-15 {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
  .footer7 {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navigation-menu7 {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .step-into-the1 {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .port2-3-icon4 {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .col-17 {
    width: 100%;
  }
  .portform-15 {
    margin-top: 20px;
  }
  .aritra-mitra8 {
    font-size: var(--font-size-5xl);
    line-height: 48px;
  }
  .footer7 {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .page-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page-6,
  .portraiture7 {
    width: 100%;
  }
  .portraiture7:hover {
    background-color: var(--color-orange);
  }
}
