.aritra-mitra {
  position: relative;
  line-height: 74px;
  cursor: pointer;
}
.visual-artist {
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 30px;
  text-align: left;
}
.header1- {
  width: 332px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.portraiture1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.art,
.photography,
.portraiture1 {
  position: relative;
}
.photography {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-sm);
  font-family: var(--font-sf-pro-display);
  color: var(--color-darkslategray-100);
  text-align: left;
  display: inline-block;
}
.profile-picture-icon {
  border-radius: var(--br-19xl);
  width: 36px;
  height: 36px;
  object-fit: cover;
}
.account-section,
.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navigation-menu {
  flex-wrap: wrap;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.step-into-the,
.through-portraiture-i {
  align-self: stretch;
  position: relative;
  line-height: 46px;
}
.through-portraiture-i {
  font-size: var(--font-size-5xl);
  line-height: 32px;
}
.title {
  align-self: stretch;
  padding: var(--padding-3xs) 0;
}
.search-container,
.search-section,
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.search-container {
  width: 100%;
  padding: var(--padding-11xl) var(--padding-121xl);
  box-sizing: border-box;
}
.search-section {
  align-self: stretch;
  font-size: var(--font-size-17xl);
}
.port2-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 1200px;
  object-fit: cover;
}
.imgcon- {
  align-self: stretch;
  position: relative;
  height: 1200px;
}
.port2-1-icon1,
.port2-2-icon {
  position: absolute;
  top: 20px;
  left: 19.5px;
  width: 1067px;
  height: 1200px;
  object-fit: cover;
}
.portform-1,
.search-container1 {
  flex-direction: column;
  justify-content: flex-start;
}
.portform-1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: flex;
  padding: var(--padding-xl);
  align-items: center;
  gap: var(--gap-xl);
}
.search-container1 {
  width: 100%;
  padding: var(--padding-11xl) var(--padding-121xl);
  box-sizing: border-box;
}
.cardsection-,
.row1-,
.search-container1 {
  display: flex;
  align-items: center;
}
.cardsection- {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-direction: column;
  justify-content: flex-start;
}
.row1- {
  width: 950px;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  max-width: 950px;
}
.aritra-mitra1 {
  position: relative;
}
.aritramitra49gmailcom {
  position: relative;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}
.ifnupta {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.5em;
  font-family: var(--font-icons-social-media-8);
  color: var(--color-silver);
}
.yelahanka-bengaluru-karnatak {
  margin: 0;
}
.yelahanka-bengaluru-karnatak-container {
  position: relative;
  line-height: 32px;
  font-family: var(--font-sf-pro-display);
}
.footer {
  align-self: stretch;
  flex: 1;
  padding: 0 var(--padding-65xl);
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-roboto);
}
.footer,
.footer-section,
.page-,
.portraiture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footer-section {
  width: 529px;
  height: 249px;
  text-align: left;
  font-size: 38px;
  color: var(--color-black);
}
.page-,
.portraiture {
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.page- {
  align-self: stretch;
  height: 4526px;
  gap: var(--gap-3xs);
}
.portraiture {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 9000px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-39xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-sf-pro-display);
}
.portraiture:hover {
  background: linear-gradient(#fff, #fff), #87550a;
}
@media screen and (max-width: 1200px) {
  .header1-,
  .navigation-menu {
    gap: var(--gap-11xl);
    align-items: center;
    justify-content: center;
  }
  .navigation-menu {
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .port2-1-icon {
    width: 100%;
    height: auto;
  }
  .footer {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .header1- {
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .header1-,
  .navigation-menu {
    display: flex;
  }
  .search-container {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .port2-1-icon {
    width: 100%;
    height: auto;
  }
  .port2-1-icon1,
  .port2-2-icon {
    width: 95%;
    height: auto;
  }
  .portform-1 {
    align-self: stretch;
    width: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .search-container1 {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .cardsection- {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .navigation-menu {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .step-into-the {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .port2-1-icon,
  .port2-1-icon1 {
    width: 100%;
    height: auto;
  }
  .portform-1,
  .search-container1 {
    align-items: center;
    justify-content: flex-start;
  }
  .portform-1 {
    margin-top: 20px;
  }
  .search-container1 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .aritra-mitra1 {
    font-size: var(--font-size-lg);
    line-height: 20px;
  }
  .aritramitra49gmailcom,
  .ifnupta {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }
  .ifnupta {
    font-size: var(--font-size-xl);
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
  .portraiture {
    width: 100%;
  }
  .portraiture:hover {
    background-color: var(--color-orange);
  }
}
